/* app.css */

body {
  margin: 0;
  font-family: "Goldman", sans-serif;
}

.app-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
